{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>

    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
		recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
		Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
		Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
		Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
		action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
		leave on other business, welcomed a fourteenth to fill into their party.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
			<p>
				In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely Mountain.
				Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA
				2770. While in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in the
				Battle of Azanulbizar in TA 2799. He marched with one of the Dwarven armies beneath the East-gate of Moria. At some
				point in the fighting, his shield broke, and using an oaken tree branch found on the floor as a shield, he gained
				the epithet "Oakenshield," which would remain with him even in death.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/56b12b7b-af87-47fb-81a6-8e25437ae039/df3y0xg-a4b0411c-8a8a-453f-8c44-0c8929235ca0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU2YjEyYjdiLWFmODctNDdmYi04MWE2LThlMjU0MzdhZTAzOVwvZGYzeTB4Zy1hNGIwNDExYy04YThhLTQ1M2YtOGM0NC0wYzg5MjkyMzVjYTAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iBnfGyD9OYD9CwgpI-KTOgv31a-RK4DIMd2kSlUeSZo" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
			<p>
				Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews of
				Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his long nose,
				the longest of any of the Dwarves in Thorin's company.
			</p>
        </div>
{% endblock %}